.App {
  text-align: center;
}

.App-header {
  background-color: #386F85;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link {
  text-decoration: none;
}

html {
  overflow: hidden;
}
